.navbar {
	background-color: #ed1c24;
}

.title {
	background-image: url('title.jpg');
}

.jumbo-lg {
	width: 40%;
	background-color: #dfb28b;
}

.jumbo-sm {
	width: 100%;
	background-color: #dfb28b;
}

.btn {
	background-color: #00b903;
}
